@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=RocknRoll+One&display=swap');

:root{
    --heading-font: 'Rock Salt';
    --paragraph-font: 'RocknRoll';

}

body {
    font-family: var(--heading-font);
    font-size: 22px;
    max-width: 1600px;
    margin: 0 auto; /* This will center the content horizontally */
    padding: 0;
  } 
  h2{
    margin: 0;
  }
  #logo_link{
    padding-top: 5px;
  }
nav a {
    text-align: center;
    padding: 35px
}
#hero-img{
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
    font-family: var(--heading-font);
} 
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#backround {
    height: 725px;
    background-color: #219ebc;
}
body {
    background-color:whitesmoke
}
header{
    height: 215px;
    background-color:#023047
    

}
nav a:hover {
    background-color:#FFB703
}
.book {
    border-radius: 5px;
    margin-top: 50px;
    font-family: var(--paragraph-font);
    font-size: 18px;
    background-color: whitesmoke;
    padding: 15px 30px;
}
.join {
    border-radius: 5px;
    margin-top: 50px;
    font-family: var(--heading-font);
    font-size: 18px;
    background-color: #023047;
    color: #FFB703;
    padding: 15px 30px;
}
.book:hover {
    background-color: whitesmoke;
}
.join:hover{
    background-color:#fb8500;
}
#background{
    background-color: #023047;
}
.msg{
    padding: 35px;
    background-color: #023047;
    line-height: 1.5em;
}
.msg h2{
    font-family: var(--heading-font);
    background-color: #023047;
    color:white
}
.msg p {
    padding-bottom: 15px;
    font-family: var(--paragraph-font);
    font-size: .8em;
    background-color: #023047;
    color: white
}
footer{
    margin-top: 200px;
    padding: 25px 50px;
    padding-top:15px ;
    background-color: #023047;
    text-decoration: none;
    color: white;
}
footer a{
    background-color:#023047;
    color: #FFB703;
}
footer a:hover{
    background-color: #fb8500;
}
nav a{
    font-family: var(--paragraph-font);
    text-align: center;
    background-color: #023047;
    color: #FFB703;
    text-decoration: none;
}
nav a :hover{
    background-color: #FFB703;
}
.home-title{
    margin-top: 10px;
    font-family: var(--heading-font);
    font-size: 2em;
    background-color:whitesmoke;
    color:black
    
    
}
h4{
    font-family: var(--paragraph-font);
    background-color: whitesmoke;
    color: black
}
.icon{
    padding-top: 10px;
    width:80px
    
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
#logo_link img,
.card-img + img {
  width: 80px;
}
.logo {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    background-color: #023047;
  }
  .social{
    padding-top: 15px;
  }
  img{
    padding-top: 15px;
  }
  .rivers-card{
    margin: 200px 0;
  }
  .camping-card{
    margin: 200px 0;
  }
  .rapids-card{
    margin: 200px 0;
  }
  .card-img{
    border: 10px solid #023047
  }
  main section img {
    box-sizing: border-box;
  }


  
 


